body {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-image: url(../images/CaliberBackgroundImage.png);
}

.pageHeader {
	background: #343434;
}

#headerCol {
	margin-bottom: 30px;
}

#headerLogoImage {
	width: 122px;
	height: 90px;
}

#headerImageColumn {
	padding-right: 0px;
}

#headerTitleColumn {
	padding-left: 0px
}

#headerCompanyName {
	margin-bottom: 0px;
	margin-top: 5px;
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 32px;
}

#llcText {
	font-size: 1px;
	font-family: serif;
	visibility: hidden;
}

#subHeader {
	color: white;
	margin-top: 20px;
	margin-bottom: 0px;
}

.panel {
	margin-bottom: 0px;
}

.panel-heading {
	font-size: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
}

.panel-title {
	font-size: 24px;
	font-family: 'Domine', serif;
}

.bulletPointItem {
	display: block;
	margin-bottom: 15px;
}

.glyphicon-unchecked {
	font-size: 10px;
	margin-right: 10px;
	color: #D5D5D5;
	margin-top: 3px;
}

.bulletPointText {
	font-size: 14px;
	margin-top: 0px;
	color: white;
	line-height: 1.3;
}

.howWeWorkPar {
	font-size: 14px;
	line-height: 1.2;
	color: white;
}

.focusContentColumn {
	margin-top: 10px;
	margin-bottom: 0px;
	padding-left: 20px;
}

#howWeWorkContentCol {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 25px;
}

.sectorContentHeader {
	font-weight: bold;
	font-size: 16px;
	color: white;
}

.sectorContentCol {
	margin-top: 10px;
	margin-bottom: 15px;
	padding-left: 25px;
}

.sectorPar {
	margin-top: 5px;
	font-size: 14px;
	line-height: 1.2;
	color: white;
}

.contactSectionHolder {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#contactUsText {
	color: white;
	margin-top: 10px;
	margin-bottom: 0px;
}

#emailButton {
	width: 80%;
	letter-spacing: 2px;
}



@media (min-width: 786px) {

	#headerCol {
		margin-bottom: 45px;
	}
	#headerLogoImage {
		width: 152px;
		height: 113px;
	}
	#headerCompanyName {
		font-size: 40px;
	}
	#llcText {
		visibility: visible;
		font-size: 16px;
	}
	.focusContentColumn {
		margin-top: 25px;
		margin-bottom: 10px;
		padding-left: 15px		
	}
	.glyphicon-unchecked {
		font-size: 16px;
		margin-right: 15px;
		margin-top: 5px;
	}
	.bulletPointText {
		font-size: 24px;
	}
	.bulletPointItem {
		margin-bottom: 25px;
	}
	#howWeWorkContentCol {
		margin-top: 35px;
		margin-bottom: 25px;
		padding-left: 15px;
	}
	.howWeWorkPar {
		font-size: 22px;
		line-height: 1.5;
	}
	.sectorContentCol {
		margin-top: 20px;
		margin-bottom: 25px;
		padding-left: 15px;
	}
	.sectorContentHeader {
		font-size: 24px;
	}
	.sectorPar {
		font-size: 18px;
		line-height: 1.5;
		margin-top: 20px;
	}
}

@media (max-width: 432px) {
	#headerLogoImage {
		width: 76px;
		height: 57px;
	}
	
	#headerCompanyName {
		font-size: 20px;
		padding-left: 3px;
		margin-top: 3px;
	}
	#subHeader {
		font-size: 14px;
		margin-top: 10px;
		padding-left: 3px;
	}
}	